body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.menu {
    background-color: #fff8f7;
    overflow: hidden;
}

.menu a {
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.menu a:hover {
    background-color: #ddd;
    color: black;
}

.menu a.active {
    background-color: #4CAF50;
    color: white;
}

header {
    background: #91243e;
    color: white;
    padding: 20px;
    text-align: center;
}

main {
    padding: 20px;
}

h1 {
    font-size: 2.5em;
    margin: 0;
}

h2 {
    font-size: 1.5em;
    margin-top: 5px;
}

h3 {
    font-size: 1.2em;
    color: #333;
}

p {
    margin-bottom: 1em;
}
