body {
    font-family: "Quicksand", sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.menu {
    background-color: #fff8f7;
    overflow: hidden;
}

.menu a {
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.menu a:hover {
    background-color: #ddd;
    color: black;
}

.menu a.active {
    background-color: #476347;
    color: white;
}

header {
    background: #476347;
    color: white;
    padding: 20px;
    text-align: center;
}

main {
    padding: 20px;
}

h1 {
    font-family: "Jacques Francois Shadow", serif;
    font-size: 2.5em;
    margin: 0;
}

h2 {
    font-family: "Quicksand", sans-serif;
    font-size: 1.5em;
    font-weight: bold;
    color: #333;
    margin-top: 5px;
}

h3 {
    font-family: "Arsenal SC", sans-serif;
    font-size: 1.2em;
    font-weight: bold;
    color: #333;
}

p {
    font-family: "Quicksand", sans-serif;
    margin-bottom: 1em;
}

.god-name {
    font-family: "Quicksand", sans-serif;
    font-weight: bold;
    color: #47637b;
  }